<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Les rendez-vous de AIE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/pico.min.css">
    <style>
      :root .warning { --background-color: #d81b60; }
      :root .session {
	  padding: 0em 3em;
	  border-left: 0.5em solid #ff6600;
	  margin-bottom: 3em;
      }
      :root .session.public {
	  border-left: 0.5em solid #3cba8e;
      }
      h1 {
	  background-color: #f6d307;
	  padding: 0em;
	  text-align: center;	  
	  border: 20px solid #3cba8e;
	  font-size: 2em;
      }
      :root span.aie {
	  color: #ff6600 !important;
	  text-shadow: black 3px 4px 1px;
      }
    </style>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  </head>
  <body>
    <main class="container">
      <h1>Les rendez-vous de <span class="aie">AÏE</span> !</h1>
      {% if member %}
      <nav>
	<ul>
	  <li><a href="{{ url_for('sessions', uuid=member.uuid) }}">Sessions</a></li>
	  <li><a href="{{ url_for('members', uuid=member.uuid) }}">Membres</a></li>
	  <li><a href="https://aie.franceimpro.net">AIE</a></li>
	  <li><a href="{{ url_for('profile', uuid=member.uuid) }}">Profil</a></li>
	</ul>
      </nav>
      {% endif %}
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
