{% extends "base.html" %}
{% block content %}
<h2>Les membres</h2>
<p>
  <ul>
    {% for p in members %}
    <li>
      <h4>
	{% if member.admin %}
	<a href="{{ url_for('profile', uuid=p.uuid) }}">{{ p.name }}</a>
	{% else %}
	{{ p.name }}
	{% endif %}
      </h4>
      <ul>
	{% for attr in p.email, p.phone, p.infos %}
	{% if attr %}
	<li>
	  {{ attr }}
	</li>
	{% endif %}
	{% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</p>
{% if member.admin %}
<form action="{{ url_for('create_member', uuid=member.uuid) }}" method="POST">
  Ajouter un membre :
  <p>
    Email <input type="text" name="email"></input>
    <input type="submit" value="Créer"></input>
  </p>
</form>
{% endif %}
{% endblock %}
